.box {
	background-image: url("https://imgd-ct.aeplcdn.com/370x208/n/cw/ec/128413/scorpio-exterior-right-front-three-quarter-46.jpeg?isig=0&q=75");
	background-repeat: no-repeat;
	height: 1000px;
	background-size: 800px 400px;
	background-position: 100px 500px;
}