*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: #fff;
}
/* ul, li{
    margin-left: 10px 0px;
    list-style: none;
} */
#navbar{
    color: #fff;
    overflow: auto;
}
.container{
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: #333;

}
.clr{
    clear: both;
}
#navbar h1{
    float: left;
    padding-top: 20px;
}
#navbar ul{
    float: right;
    list-style: none;
}
#navbar ul li{
    float: right;
}
#navbar ul a{
    display: inline-block;
    padding: 25px;
}
#navbar ul a:hover,
#navbar ul a.current
{
    background-color: #444;
    color: #f7c08a;
}
.rasm-1{
    background-image: url(../img/it-m.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 71%;
    width: 100% ;
    height: 100vh;
    filter: brightness(100%);
    z-index: -1;
    position: relative;
}
.rasm-3{
    background-image: url(../img/it3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 71%;
    width: 100% ;
    height: 91vh;
    position: fixed;
    z-index: -2;
    filter: opacity(.7);
    margin-top: -43%;
}
button{
    /* z-index: 1; */
    margin-top: 10%;
    padding: 9px 63px;
    margin-left: 13%;
    border: none;
    z-index: 1;
    position: relative;
    margin-bottom: 18%;
    border-radius: 6px;
}
.ins{
    background-color:#930c0c;
    color: #fff;
}
.ins:hover{
    background-color: rgb(228, 126, 0);
}
.tg{
    background-color: rgb(50, 50, 242);
    color: #fff;
}
.paragrf{
    padding: 6%;
}
.p-y{
    color: #f7c08a;
    font-size: 50px;
    font-weight: 600;
    width: 52%;
    margin-left: 5%;
    margin-top: -50%;
    /* z-index: 1; */
    position: relative;

}
.bek, .fr, .fnd{
    display: inline-block;
    width: 33%;
    height: 362px;
    text-align: center;
    color: #fff;
    margin-top: -3%;
    z-index: -1;
    position: relative;
}
.kurs{
    font-size: 46px;
    margin-top: 3%;
    font-weight: 600;
}
.br{
    width: 100%;
    height: 80px;
    background-color: burlywood;
}
.uqi{
    color: #fff;
    text-align: center;
    margin-top: -4%;
    padding-top: .9%;
}
.fr{
    background-image: url(https://img.freepik.com/free-photo/programming-background-with-html-text_23-2150040420.jpg?size=626&ext=jpg&ga=GA1.2.1134821769.1690003160&semt=sph);
}
.bek{
    background-image: url(https://img.freepik.com/free-photo/programming-background-with-person-working-with-codes-on-computer_23-2150010115.jpg?size=626&ext=jpg&ga=GA1.2.1134821769.1690003160&semt=sph);
}
.fnd{
    background-image: url(https://img.freepik.com/free-photo/usiness-people-meeting-to-discuss-the-situation-on-the-marketing_1421-564.jpg?size=626&ext=jpg&ga=GA1.2.1134821769.1690003160&semt=sph);
}
.box{
    height: 400px;
}
.surish{
    margin-top: -10%;
}
.box-2{
    margin-top: 0%;
    box-sizing: border-box;
}
.uzunlik{
    width: 35%;
}
.f-s{
    font-size: 25px;
    color: #ffffff;

    font-weight: 300;
}
.f-p{
    padding-top: 0%;
    margin-top: 10%;
}
.v-s{
    margin-left: 17%;
    margin-top: -40%;
}
.v-s2{
    margin-left: 70%;
    margin-top: -40%;
    margin-bottom: 9%;
}
.v-s3{
    margin-left: 45%;
    
}
.malumotlar{
    height: 350px;
    width: 70%;
    margin: auto;
}
.malumot-p{
    background-color: gold;
    color: white;
    line-height: 40px;
    letter-spacing: 2px;   
    opacity: 1;
    padding: 4% 6%;
}
.bosh{
    margin-top: 4%;
    height: 150px;
    background-color: black;
    opacity: .3;
}
.aa{
    color: #b7ff00;
}