body{
    margin: 0px;
}
.menu{
    height: 713px;
    width: 1519px;
}
.tel{
    width: 1215px;
    padding-left: 20%;
    font-family: sans-serif;
    background-color: white;
}
.rasm{
    background-image: url(http://identist.uz/static/media/logo%20lite.b6fdc90cde0ae5c7fa18.jpg);
    height: 103px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    position: sticky;
    top: 0px;
}
.right{
    float: right;
}
.btn1{
    margin-top: 3%;
    margin-right: 22%;
}
.btn2{
    margin-top: 3%;
    margin-right: 4%;
}
.btn3{
    margin-top: 3%;
    margin-right: 4%;
}
.btn4{
    margin-top: 2%;
    margin-right: -33%;
    padding: 12px 47px 12px 47px;
    border-radius: 6px;
    border-color: #06a3db;
    color: #06a3db;
    font-size: 19px;
    background-color: white;
    cursor: pointer;
}
.btn4:hover{
    color: black;
    border-color: black;
}
.buttonn{
    position: relative;
    border: none;
    background-color: white;
    font-family: sans-serif;
    font-size: 17px;
    opacity: .7;
    cursor: pointer;
}
button:hover{
    color: #06a3db;
}
.p2{
    background-image: url(	http://identist.uz/static/media/stom.572b0094c717ca6d00ed.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 547px;
    margin-left: 58%;
}
.left{
    float: left;
}
.p2p{
    background-color: #edf4fb;

}
.pp1{
    margin-top: -25%;
    font-size: 44px;
    font-family: sans-serif;
    font-weight: 600;
    width: 612px;
    margin-left: 10%;
}
.pp2{
    font-family: sans-serif;
    font-size: 23px;
    width: 552px;
    margin-left: 10%;
    margin-top: -211px;
}
img{
    width: 1500px;
    display: flex;
}
.biz{
    margin-left: 20%;
    padding: 12px 47px 12px 47px;
    background-color: white;
    font-size: 16px;
    border-radius: 7px;
    border-color: #06a3db;
    color: #06a3db;
}
.biz:hover{
    background-color: #06a3db;
    cursor: pointer;
    color: #edf4fb;
}
.rr{
    height: 808.85px;
}
@media only screen and (max-width: 1200px){
    .pp1{
        margin-top: -25%;
        font-size: 41px;
    }
    .pp2{
        font-size: 27px;
    }
    .rasm{
        height: 80px;
    }
    .p2{
    height: 452px;
    }
    .buttonn{
    font-size: 25px;
    }
    .btn4 {
    margin-right: -38%;
    }
    img{
        width: 1600px;
    }
    .biz{
        font-size: 24px;
        margin-left: 26%;
    }
    .rr{
        height: 888.85px;
    }
    .btn4{
        margin-right: -704px;
        padding: 24px 74px 24px 74px;
    }}
    @media only screen and (max-width: 600px){
        .pp1{
            margin-top: -25%;
            font-size: 61px;
            width: 828px;
        }
        .pp2{
            font-size: 35px;
            width: 700px;

        }
        .rasm{
            height: 151px;
        }
        .p2{
        height: 529px;
        margin-left: 66%;
        }
        .buttonn{
        font-size: 39px;
        }
        .btn4 {
        margin-right: -873%;
        }
        img{
            width: 1700px;
        }
        .biz{
            font-size: 37px;
            margin-left: 26%;
        }
        .rr{
            height: 888.85px;
        }
        .btn4{
            margin-right: -874px;
            padding: 24px 74px 24px 74px;
            font-size: 38px;
        }
        .tel{
            font-size: 38px;
        }

}